<% include ../partials/header %>

<div class="main">
    
    <div class="header">
        <h2 class="category"><%= count + 1 %></h1>

        <h2 class="category"><%= randomQuestion.category %></h1>

    </div>    
    

    <div class="ui container">

            <% if(randomQuestion.media) { %>

                    <div class="image">
                        <img class="ui fluid image" src="<%= randomQuestion.media %>"> 
                    </div>

            <% } %>

    
        <div class="ui padded text content segment">
                <p class="ui question"><%= randomQuestion.question %></p> 
                <form class="ui form" action="/play/" method="POST">

                    <div class="field">
                        <p class="label">
                            <label>Answer: </label>
                        </p>
                        <input type="text" id="response" name="response" autocomplete"off">
                    </div>
                    <input type="hidden" name="questionID" value="<%= randomQuestion.id %>">
                    <input type="hidden" name="count" value="<%= count + 1 %>">
                    <input type="hidden" name="playerScore" value="<%= playerScore + 1 %>">

                    <center><button class="ui primary button centered" id="answerButton">That's my answer!</button></center>
                </form>
                

        </div>
        
        <div class="ui padded text content segment scoring">
            <center>
                <% for(i = 0; i < playerScore; i++) { %>
                    <li class="score"><i class="huge green checkmark icon"></i></li>
                <% } %>
                <% for (i = 0; i < (count - playerScore); i++) { %>
                    <li class="score"><i class="huge red remove icon"></i></li>
                <% } %>
            </center>
        </div>
    </div>
 </div>
 




<% include ../partials/footer %>